<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>
      <div class="collapse navbar-collapse" id="example-navbar-collapse" style="color:#337AB7;font-weight:bold">
        <ul class="nav navbar-nav">
          <li class="dropdown" dropdown>
            <a dropdownToggle href="#" class="dropdown-toggle" data-toggle="dropdown">
              Accesorrii pentru Barbati <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Chei</a></li>
              <li><a href="#">Inele</a></li>
              <li><a href="#">Chipuri</a></li>
              <li><a href="#">Stickere</a></li>
            </ul>
          </li>
          <li class="dropdown" dropdown>
            <a dropdownToggle href="#" class="dropdown-toggle" data-toggle="dropdown">
              Accesorii pentru femei <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Chei</a></li>
              <li><a href="#">Unghii</a></li>
              <li><a href="#">Stickere</a></li>
              <li><a href="#">Chipuri</a></li>
            </ul>
          </li>
          <li class="dropdown" dropdown>
            <a dropdownToggle href="#" class="dropdown-toggle" data-toggle="dropdown">
                Accesorii pentru Copii <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Bratari</a></li>
              <li><a href="#">Chipuri</a></li>
              <li><a href="#">Stickere</a></li>
            </ul>
          </li>
          <li class="dropdown" dropdown>
            <a dropdownToggle href="#" class="dropdown-toggle" data-toggle="dropdown">
                Servicii <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Schimbare chip </a></li>
              <li><a href="#"> Contact </a></li>
            </ul>
          </li>
        </ul>
        <div class="col-sm-3 col-md-3">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Cautare" name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
