<div class="offerContainer">
  <div class="col-md-6 col-md-6 col-lg-6 mt-6 align-left h-100 offerColumn">
    <div class="col-md-12 col-md-12 col-lg-12 mt-12 offerMsgContainer text-center">
      <h2>Hey</h2>
      <h1>We are opening soon!</h1>
      <h4>Watchout timer for discount!</h4>
      <div class="timeContainer">
        <div id="days" class="timeItem">
          <span class="timeBadge">{{days}}</span>
          <span class="timeLabel">days</span>
        </div>
        <div id="days" class="timeItem">
          <span class="timeBadge">{{hours}}</span>
          <span class="timeLabel">hours</span>
        </div>
        <div id="days" class="timeItem">
          <span class="timeBadge">{{mins}}</span>
          <span class="timeLabel">mins</span>
        </div>
        <div id="days" class="timeItem">
          <span class="timeBadge">{{secs}}</span>
          <span class="timeLabel">secs</span>
        </div>
      </div>
      <h2>Subscribe to News</h2>
      <form (submit)="onSubscribe()" class="clearTop">
        <input class="btn btn-lg" #email name="email" id="email" type="email" placeholder="Your Email" required>
        <button class="btn btn-info btn-lg" type="submit">Submit</button>
      </form>
      <small class="promise"><em>We won't send spam.</em></small>
    </div>
  </div>
  <div class="col-md-6 col-md-6 col-lg-6 mt-6 align-right h-100 offerColumn">
    <div class="col-md-12 col-md-12 col-lg-12 mt-12 offerImageContainer">
      <img src="/assets/images/interfon.jpg" alt="">
    </div>
  </div>
</div>
